# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
.turbo/
.expo/
.expo-shared/

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches/
supabase/.temp/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor/os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# misc
*.tsbuildinfo
coverage/
next-env.d.ts
